.search-page{

}
.s_ipt{

}
.fm{
    position: absolute;
    bottom: 0;
}
.s_ipt_wr{
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
.s_btn_wr{
    border: 1px solid #38f;
    border-top-color: rgb(51, 136, 255);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(51, 136, 255);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(46, 122, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(51, 136, 255);
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom: 1px solid #2e7ae5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(46, 122, 229);
    background-color: #38f;
}