.search-page{

}
.fm{
     position: absolute;
     bottom: 0;
     margin-top: 0;
}
.s_ipt{
    width: 200px;
    margin: 0;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #38f;
    border-bottom: 1px solid #38f;
    border-right: 0;
    vertical-align: top;
    outline: none;
    box-shadow: none;
}

.s_ipt_wr{
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    margin-right: -10px;
}
.s_btn{
    cursor: pointer;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
}
.s_btn_wr{
    border: 1px solid #38f;
    border-bottom: 1px solid #2e7ae5;
    background-color: #38f;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}