.goodList-page
  position relative
  .search
    margin 40px 0 0 80px
    .s_ipt_wr
      display inline-block
      zoom 1
      vertical-align top
      margin-right -4px
      .s_ipt
        width 536px
        height 40px
        margin 0
        padding 9px 7px
        font 16px arial
        border 2px solid #1a70ae
        border-bottom 2px solid #1a70ae
        border-right 0
        vertical-align top
        outline none
        box-shadow none

    .s_btn_wr
      border 1px solid #1a70ae
      border-bottom 1px solid #1a70ae
      background-color #1a70ae
      display inline-block
      zoom 1
      vertical-align: top
      .s_btn
        width 102px
        cursor pointer
        line-height 38px
        padding 0
        border 0
        background none
        background-color #1a70ae
        font-size 16px
        color white
        box-shadow none
        font-weight normal

  .list
    margin 20px 0 0 40px
    li
      display inline-block
      vertical-align text-bottom
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      width 60%
      margin-bottom 14px
      a
        cursor pointer
        text-decoration none
      &:hover, &:visited, &:focus
        cursor pointer
        text-decoration none
      h3
        color #1a70ae
      span
        line-height 20px
        color #000000
    /*
    .pagination
      padding 0 0 0 121px
      margin 30px 0 40px 0
      ul
        list-style none
        li
          display inline-block
          vertical-align text-bottom
          height 40px
          width 36px
          text-align center
          line-height 34px
          text-decoration none
          overflow hidden
          margin-right 9px
          background white
          font-size 16px
    */
  .noData
    margin 40px 0 0 80px

  .page-list
    .pagination
      margin 30px 20px 40px
      float left
      list-style none
      li
        float left
        display inline-block
        width 36px
      span
        cursor pointer
      .separate
        span
          cursor default
          border-top none
          border-bottom none
          &:hover
            background none

    .page-total
      float left
      margin 30px 20px 40px
      input
        height 34px
        border 1px solid #ddd
        width 40px
        padding-left 3px
      select
        height 34px
        border 1px solid #ddd
        width 50px