.search-page
  position relative
  z-index 2
  height 38.2%
  min-height 500px
  width 1000px
  margin 0 auto
  .warpper
    width 641px
    height 100%
    min-height 500px
    margin 0 auto 0 auto
    text-align left
    .logo
      position absolute
      bottom 140px
      width 641px
      height 220px
      text-align center
      .s_img
        position static
        margin 33px auto 0 auto
    .fm
      position absolute
      bottom 100px
      margin-top 0
      .s_ipt_wr
        display inline-block
        zoom 1
        vertical-align top
        margin-right -4px
        .s_ipt
          width 536px
          height 40px
          margin 0
          padding 9px 7px
          font 16px arial
          border 2px solid #1a70ae
          border-bottom 2px solid #1a70ae
          border-right 0
          vertical-align top
          outline none
          box-shadow none

      .s_btn_wr
        border 1px solid #1a70ae
        border-bottom 1px solid #1a70ae
        background-color #1a70ae
        display inline-block
        zoom 1
        vertical-align: top
        .s_btn
          width 102px
          cursor pointer
          line-height 38px
          padding 0
          border 0
          background none
          background-color #1a70ae
          font-size 16px
          color white
          box-shadow none
          font-weight normal