<div class="goodList-page">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">商品详细信息</h3>
        </div>
        <div class="modal-body">
            <div>
                <img src="" ng-src="{{item.img}}" class="img-rounded">
            </div>
            <div class="row">
                <label for="code" class="col-sm-2">商品编码</label>
                <div class="col-sm-6">
                    <input class="form-control" id="code" name="code" ng-model="item.GOODS_ORDER_NO" type="text">
                </div>
            </div>
            <div class="row">
                <label for="name" class="col-sm-2">商品名称</label>
                <div class="col-sm-6">
                    <input class="form-control" id="name" name="name" ng-model="item.G_NAME" type="text">
                </div>
            </div>
            <div class="row">
                <label for="remark" class="col-sm-2">商品描述</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="remark" name="remark" ng-model="item.GOODS_DESC" rows="3">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
        </div>
    </script>
    <div class="search">
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="keyword" id="keyword" name="keyword">
        </div>
        <button class="btn btn-success" ng-click="search()">搜索</button>
    </div>
    <div class="list" ng-show="hasData">
        <div>
            <ul>
                <li ng-repeat="good in goods" ng-click="open(good.CODE_TS)">
                    <img src="" ng-src="{{good.img}}" class="img-thumbnail">
                    <h2><b>{{good.G_NAME}}</b></h2>
                </li>
            </ul>
        </div>
        <div class="pagination">
            <ul>
                <li ng-class="{disabled: currentPage === 1}">
                    <button ng-click="prevPage()"><span>&laquo;</span></button>
                </li>
                <li ng-repeat="n in range(itemsPerPage)" ng-class="{active: n === currentPage}">
                    <button ng-click="setPage()">{{n}}</button>
                </li>
                <li  ng-class="{disabled: currentPage === itemsPerPage}">
                    <button ng-click="nextPage()"><span>&raquo;</span></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="noData" ng-show="!hasData">
        <label class="col-sm-2">没有数据！</label>
    </div>
</div>