<div class="goodList-page"> <!--cg-busy="{promise:myPromise,message:'载入中，请稍候！',backdrop:true}"-->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">商品详细信息</h3>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">基本信息</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                            <uib-slide ng-repeat="slide in item.THUMBNAILS" active="slide.active">
                                <img ng-src="{{slide.DATA}}" style="margin:auto;">
                                <div class="carousel-caption">
                                    <p>{{slide.TITLE }}</p>
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <span>商品编码：{{item.CODE_TS}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <span>商品名称：{{item.G_NAME}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            进口最惠国税率：<span ng-show="item.LOW_RATE != undefined">{{item.LOW_RATE | Percent}}</span>
                        </div>
                        <div class="col-sm-4">
                            进口增值税率：<span ng-show="item.TAX_RATE != undefined">{{item.TAX_RATE | Percent}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            出口(暂定)税率：<span ng-show="item.REG_RATE != undefined">{{item.REG_RATE | Percent}}</span>
                        </div>
                        <div class="col-sm-4">
                            出口退税税率：<span ng-show="item.OUT_RATE != 0">{{item.OUT_RATE | Percent}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <span>规范申报要素：{{item.HS_POINTS}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">商品描述</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <span>
                            {{item.GOODS_DESC}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
        </div>
    </script>
    <div class="search">
        <span class="s_ipt_wr">
            <input class="s_ipt" type="text" ng-model="keyword" id="keyword" name="keyword">
        </span>
        <span class="s_btn_wr">
            <button class="s_btn" ng-click="search()">搜索</button>
        </span>
    </div>
    <div class="list" ng-show="hasData">
        <div>
            <ul>
                <li ng-repeat="good in goods">
                    <a ng-click="open(good.GOODS_ID)">
                        <h3><b>{{good.G_NAME}}</b></h3>
                        <!--<img src="" ng-src="{{good.img}}" class="img-thumbnail">-->
                        <span>商品编码：{{good.CODE_TS}}</span><br>
                        <span>商品描述：{{good.GOODS_DESC}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
        <!--<div class="pagination" ng-show="itemsPerPage > 1">
            <ul>
                <li ng-class="{disabled: currentPage === 1}">
                    <button ng-click="prevPage()"><span>&laquo;</span></button>
                </li>
                <li ng-repeat="n in range(itemsPerPage)" ng-class="{active: n === currentPage}" ng-click="setPage()">
                    <span>{{n}}</span>
                </li>
                <li  ng-class="{disabled: currentPage === itemsPerPage}">
                    <button ng-click="nextPage()"><span>&raquo;</span></button>
                </li>
            </ul>
        </div>-->
    </div>
    <div class="noData" ng-show="!hasData">
        <label class="col-sm-2">没有数据！</label>
    </div>
</div>